<div class="login-container">
  <mat-card class="login-card">
    <img src="../../../assets/images/logo.png" alt="Logo" class="logo">

    <!-- Formulário -->
    <form (ngSubmit)="confirmaLogin()">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Usuário"
            [(ngModel)]="username"
            name="username"
            required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Senha"
            [(ngModel)]="password"
            name="password"
            required>
          <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <!-- Botão de login -->
        <button
          mat-raised-button
          type="submit"
          style="background-color: #ff5722; color: white; width: 100%; height: 50px; margin-top: 10px;"
          [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loadingTemplate">Acessar</ng-container>
        </button>

        <!-- Template de carregamento -->
        <ng-template #loadingTemplate>
          <mat-spinner
            [diameter]="24"
            class="spinner-white"
            style="margin: auto; display: block;"
            color="warn">
          </mat-spinner>
        </ng-template>
      </mat-card-content>
    </form>
  </mat-card>
</div>
