<!-- Área de Filtro -->
<div class="filtros mb-4">
  <mat-card>
    <mat-card-content>
      <form class="row align-items-end" [formGroup]="filtroForm">

        <!-- Campo de Data -->
        <div class="col-sm-4">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Dropdown de Usinas -->
        <div class="col-sm-4">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Usina</mat-label>
            <mat-select formControlName="usina">
              <mat-option *ngFor="let solarplant of solarplants" [value]="solarplant.id">
                {{ solarplant.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Botão Consultar -->
        <div class="col-sm-2">
          <button mat-flat-button class="btn-consultar custom-blue" (click)="getData()">
            Consultar
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="dashboard mt-4">
  <!-- Gráficos de Medição (Pie) -->
  <div class="row" *ngIf="radialCharts.length">
    <div class="col-sm-6 col-md-3 mb-3" *ngFor="let chart of radialCharts">
      <mat-card class="text-center py-2 px-1">
        <div class="mb-2" style="font-weight: 500">{{ chart.title }}</div>
        <apx-chart
          [series]="chart.series"
          [chart]="chart.chart"
          [labels]="chart.labels"
          [plotOptions]="chart.plotOptions"
          [fill]="chart.fill"
          [grid]="chart.grid">
        </apx-chart>
      </mat-card>
    </div>
  </div>


  <!-- Gráfico de Geração (Line) -->
  <div class="row" *ngIf="lineChartOptions.series">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-content>
          <apx-chart [series]="lineChartOptions.series!"
                     [chart]="lineChartOptions.chart!"
                     [xaxis]="lineChartOptions.xaxis!"
                     [stroke]="lineChartOptions.stroke!"
                     [dataLabels]="lineChartOptions.dataLabels!"
                     [title]="lineChartOptions.title!"
                     [tooltip]="lineChartOptions.tooltip!">
          </apx-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
