<div class="row">
  <mat-card-content>
    <mat-card-title style="font-weight: 500; color: gray;">Cadastro de Usinas</mat-card-title>
    <mat-card-subtitle>
      <a style="color: #ff5722;" routerLink="/">Início</a> >
      <a style="color: #ff5722;">Usina</a>
    </mat-card-subtitle>
  </mat-card-content>
</div>

<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <mat-card-content>
        <div class="row d-flex align-items-stretch solarplant-panel">
          <div class="col-sm-10">
            <mat-form-field color="accent" appearance="outline" class="user-form">
              <mat-label>Pesquisar Usina</mat-label>
              <input matInput id="pesquisaUsina" placeholder="Dados da usina" type="text" (keyup)="applyFilter($event)" name="classeSmart">
              <button mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <button mat-raised-button class="add-button" (click)="add()" matTooltip="Adicionar nova usina">
              <mat-icon>person_add</mat-icon> Adicionar
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="table-responsive table-condensed">
                  <table mat-table [dataSource]="solarplants" matSort class="table-striped table-sm"
                         matTableFilter>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                          style="font-weight: 500; color: gray;"> Nome </th>
                      <td mat-cell *matCellDef="let element" (click)="getSolarInverters(element.id)"
                          style="font-weight: 500; color: gray;">
                        {{element.name}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                          style="font-weight: 500; color: gray;"> Ações </th>
                      <td mat-cell *matCellDef="let element"
                          style="font-weight: 500; color: gray;">

                        <a style="margin-right: 10px; cursor: pointer; font-size: large; color: #26c6da;"
                           matTooltip="Editar informações da usina"
                           (click)="edit(element)">
                          <mat-icon>edit_document</mat-icon>
                        </a>

                        <a style="cursor: pointer; font-size: large; color: rgb(255, 119, 119);"
                           matTooltip="Excluir usina" (click)="delete(element)">
                          <mat-icon>delete</mat-icon>
                        </a>

                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        style="cursor: pointer;"></tr>
                  </table>
                </div>
                <mat-paginator color="accent" [pageSize]="15" [pageSizeOptions]="[15, 25, 50, 100]">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
