<div class="main-container">
  <mat-toolbar style="background-color: rgb(255, 255, 255);" class="topbar telative">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard">
                <span class="text-logo-icon" fxShow="false" fxShow.gt-xs>
                    <img src="assets/images/logo-light-text.png" alt="homepage" class="dark-logo">
                    <img src="assets/images/logo-text.png" class="light-logo" alt="homepage" width="150px"
                         height="50px">
                </span>
      </a>
    </div>

    <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed" class="text-white">
      <mat-icon style="color: rgb(223, 125, 14);">menu</mat-icon>
    </button>

    <app-header class="d-flex align-items-center ml-auto"></app-header>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'"
                 fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">

      <app-sidebar></app-sidebar>

    </mat-sidenav>
    <mat-sidenav-content class="page-wrapper">

      <div class="page-content">

        <router-outlet>

        </router-outlet>
        <ngx-spinner [fullScreen]="true" type="timer" size="large"></ngx-spinner>

      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
